<div class="text-danger">
<% if @error_comment.present? %>
  <h2><%= @error_comment.errors.count %>errors prohibited this obj from being saved:</h2>
  <% @error_comment.errors.full_messages.each do |message| %>
    ・<%= message %>
  <% end %>
<% end %>
</div>

<div class="container">
 <div class="row">
  <div class="col-md-3">
    <h1>User info</h1>
    <%= attachment_image_tag @book.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size:'100x100' %>
    <p>name <%= @book.user.name %></p>
    <p>introduction <%= @book.user.introduction %></p>
    <span><%= link_to icon("fas", "user-cog"), edit_user_path(@user.id), class: 'btn btn-outline-secondary btn-sm w-100' %></span>
    <span>
    <% unless @book.user == current_user %>
      <% if current_user.following?(@book.user) %>
        <%= link_to "フォロー外す", unfollow_path(@book.user.id), method: :post, class: 'btn btn-success' %>
      <% else %>
        <%= link_to "フォローする", follow_path(@book.user.id), method: :post, class: 'btn btn-info' %>
      <% end %>
    <% end %>
    </span>

    <h1>New book</h1>
    <%= form_with model: @book_new, local: true do |f| %>
    <p>Title</p>
    <%= f.text_field :title %>
    <p>Opinion</p>
    <%= f.text_area :body %><br>
    <%= f.submit "Create Book" %>
    <% end %>
  </div>
  <div class="col-md-9">
    <h1>Book detail</h1>
      <table class="table">
        <tr>
          <td>
            <%= link_to (@book.user) do %>
            <%= attachment_image_tag @book.user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: 'no_image.jpg', size:'50x50' %><br>
            <% end %>
            <%= link_to @book.user.name, user_path(@book.user) %>
          </td>
          <td><%= link_to @book.title,  book_path(@book.id) %></td>
          <td><%= @book.body %></td>
          <td>
            <div id="favorites_buttons_<%= @book.id %>">
              <%= render partial: 'favorites/favorite-btn', locals: { book: @book} %>
            </div>
          </td>
          <% if @book.user_id == current_user.id %>
          <td><%= link_to "Edit", edit_book_path(@book.id), class: 'btn btn-success' %></td>
          <td><%= link_to "Destroy", book_path(@book.id), method: :delete, class: 'btn btn-danger' %>
          <% end %>
        </tr>
      </table>
      <div class="comments">
        <div id="comments_area_<%= @book.id %>">
          <%= render 'book_comments/book-comment', book_comments: @book_comments %>
        </div>
        <div id="comment_form_<%= @book.id %>">
          <%= render 'book_comments/book-form', book: @book, book_comment: @book_comment %>
        </div>
      </div>
  </div>
 </div>
</div>