<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" >
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">Bookers</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to icon("fas", "home", "Home"), user_path(current_user.id), class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to icon("fas", "users", "Users"), users_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to icon("fas", "book-open", "Books"), books_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to icon("fas", "sign-out-alt", "logout"), destroy_user_session_path, method: :delete, class: 'nav-link text-white' %>
            </li>
           <% else %>
            <li class="nav-item">
              <%= link_to icon("fas", "home", "Home"), root_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to icon("fas", "link", "About"), home_about_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to icon("fas", "user-plus", "sign up"), new_user_registration_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to icon("fas", "sign-in-alt", "login"), new_user_session_path, class: 'nav-link text-white' %>
            </li>
           <% end %>
            </ul>
          </div>
        </div>
      </nav>
      <% if user_signed_in? %>
      <p>検索</p>
      <%= form_with url: search_search_path, method: :get, local: true do |f| %>
        <%= select_tag(:option, options_for_select([["user", "1"],["book", "2"]])) %>
        <%= select_tag(:choice, options_for_select([["あいまい検索", "1" ],["後方一致検索", "2" ],["前半一致検索", "3" ],["完全一致検索", "4" ]])) %>
        <%= f.text_field :search %>
        <%= f.submit 'Search', name: nil %>
      <% end %>
      <% end %>
    </header>
    <span class="text-success">
    <% flash.each do |message_type, message| %>
      <%= content_tag :div, message, class: message_type %>
    <% end %>
    </span>
    <%= yield %>
  </body>
</html>
